body{
    padding: 0px;
}


.navbar{
    padding: 5px;
}




.navbar-toggler-icon{

    width: 30px;
    height: 30px;

}

#logo{

    width: 150px;
    height: 100px;
}

.sidebar{

    width: 30%;
    height: 100%;
    background-color: lightgrey;


}

#filter{

    height: 30px;
    max-width: 30px;



}


.post{

    border: solid black 2px;
    margin: 15px 5px 15px 5px;
    position: relative;
    height: 200px;
    transition: box-shadow 0.3s;



}


.post:hover{


    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10;
}





.postimg{

    height: 100%;
    width: auto;
    max-width: 20%;
    border-right: black solid 2px;
}

.left{

    
    display: inline;

}

.right{

    position: absolute;
    right: 20; 
    top: 5;
    display: inline;
    max-width: 70%;
    width: auto;
    height: 100%;
    padding-left: 10px;
}


body{


    background-image: url(GoogleMapTA.webp);



}
