@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #1d2b33;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  display: none;
}
